       body {
        margin: 0;
        background-color: rgba(253, 253, 253, 0.534);
        padding-right: 20px;
        padding-left: 100px;
      }

       .grid-example {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 20px;
        padding-top: 94px;

      }

      

       @media (max-width: 1190px) {
        .grid-example {
          grid-template-columns: 1fr 1fr;
        }
        
         @media (max-width: 838px) {
        .grid-example {
          grid-template-columns: 1fr;
        }
       }

       }
      .apple {
        width: 100%;
        cursor: pointer;
      }

      .first-channel {
        width: 40px;
        border-radius: 50px;
        margin-top: 10px;
        cursor: pointer;
      }

      .grid-first {
        display: grid;
        grid-template-columns: 40px 1fr;
      }

      .first-texts {
        margin-top: 0px;
        margin-left: 12px;
      }

      .text-1 {
        font-family: Roboto, Arial;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
      }

      .text-2{
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        margin-bottom: 0px;
        cursor: pointer;
      }
      
      .text-3 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        margin-top: 6px;
      }

      .relative-1 {
        position: relative;
      }

      .absolute-1 {
        position: absolute;
        right: 0;
        background-color: black;
        color: white;
        bottom: 10px;
        margin-right: 5px;
        padding: 6px 5px 6px 5px;
        font-family: Roboto, Arial;
        font-weight: bold;
      }

      .channel-2 {
        width: 40px;
        border-radius: 50px;
        margin-top: 10px;
        cursor: pointer;
      }
      
      .grid-second {
        display: grid;
        grid-template-columns: 40px 1fr;
      }

      .second-texts {
        margin-left: 12px;
        margin-top: 0px;
      }

      .text-4 {
        font-weight: bold;
        font-family: Roboto, Arial;
        font-size: 15px;
        cursor: pointer;
      }

      .text-5 {
        color: rgb(96 96 96);
        font-size: 13px;
        font-family: Roboto, Arial;
        cursor: pointer;
        margin-bottom: 0px;
      }

      .text-6 {
        color: rgb(96 96 96);
        font-size: 13px;
        font-family: Roboto, Arial;
        margin-top: 6px;
      }

      .relative-2 {
        position: relative;
      }

      .absolute-2 {
        position: absolute;
        right: 0;
        background-color: black;
        color: white;
        bottom: 10px;
        margin-right: 5px;
        padding: 6px 5px 6px 5px;
        font-family: Roboto, Arial;
        font-weight: bold;
      }

      .channel-3 {
        width: 40px;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 10px;
      }

      .third-texts {
        display: grid;
        grid-template-columns: 40px 1fr;
      }

      .texts-4 {
        margin-left: 12px;
        margin-top: 0px;
      }

      .text-7 {
        font-weight: bold;
        font-family: Roboto, Arial;
        font-size: 15px;
        cursor: pointer;
        line-height: 20px;
      }

      .text-8 {
        color: rgb(96 96 96);
        font-size: 13px;
        font-family: Roboto, Arial;
        margin-bottom: 0px;
        cursor: pointer;
      }

      .text-9 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        margin-top: 6px;
      }

      .relative-3 {
        position: relative;
      }

      .absolute-3 {
        position: absolute;
        background-color: black;
        color: white;
        padding: 6px 5px 6px 5px;
        font-family: Roboto, Arial;
        font-weight: bold;
        right: 0;
        bottom: 8px;
        margin-right: 5px;
      }

      .channel-4 {
        width: 40px;
        border-radius: 50px;
        margin-top: 10px;
        cursor: pointer;
      }

      .fourth-text {
        display: grid;
        grid-template-columns: 40px 1fr;
      }

      .texts-5 {
        margin-left: 12px;
      }

      .text-10 {
        font-weight: bold;
        font-size: 15px;
        font-family: Roboto, Arial;
        line-height: 20px;
        cursor: pointer;
      }

      .text-11 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        margin-bottom: 0px;
        cursor: pointer;
      }

      .text-12 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        margin-top: 6px;
      }

      .relative-4 {
        position: relative;
      }

      .absolute-4 {
        position: absolute;
        background-color: black;
        color: white;
        padding: 6px 5px 6px 5px;
        font-family: Roboto, Arial;
        font-weight: bold;
        right: 0;
        bottom: 8px;
        margin-right: 5px;
      }

      .channel-5 {
        width: 40px;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 10px;
      }

      .fifth-text {
        display: grid;
        grid-template-columns: 40px 1fr;
      }
      .texts-5 {
        margin-left: 12px;
        margin-top: 0px;
      }

      .text-13 {
        font-weight: bold;
        font-family: Roboto, Arial;
        font-size: 15px;
        line-height: 20px;
        cursor: pointer;
      }

      .text-14 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        cursor: pointer;
        margin-bottom: 0px;
      }

      .text-15 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        margin-top: 6px;
      } 

      .relative-5 {
        position: relative;
      }

      .absolute-5 {
        position: absolute;
        background-color: black;
        color: white;
        padding: 6px 5px 6px 5px;
        font-family: Roboto, Arial;
        font-weight: bold;
        right: 0;
        bottom: 8px;
        margin-right: 5px;
      }

      .channel-6 {
        width: 40px;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 10px;
      }

      .texts-6 {
        margin-left: 12px;
        margin-top: 0px;
      }

      .sixth-text {
        display: grid;
        grid-template-columns: 40px 1fr;
      }

      .text-16 {
        font-weight: bold;
        font-family: Roboto, Arial;
        font-size: 15px;
        cursor: pointer;
        line-height: 20px;
      }

      .text-17 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        cursor: pointer;
        margin-bottom: 0px;
      }

      .text-18 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        margin-top: 6px;
      }

      .relative-6 {
        position: relative;
      }

      .absolute-6 {
        position: absolute;
        background-color: black;
        color: white;
        padding: 6px 5px 6px 5px;
        font-family: Roboto, Arial;
        font-weight: bold;
        right: 0;
        bottom: 8px;
        margin-right: 5px;
      }

      .channel-7 {
        width: 40px;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 10px;
      }

      .texts-7 {
        margin-left: 12px;
        margin-top: 0px;
      }

      .text-19 {
        font-weight: bold;
        font-size: 15px;
        font-family: Roboto, Arial;
        cursor: pointer;
      }

      .text-20 {
        color: rgb(96 96 96);
        font-size: 13px;
        font-family: Roboto, Arial;
        cursor: pointer;
        margin-bottom: 0px;
      }

      .text-21 {
        color: rgb(96 96 96);
        font-size: 13px;
        font-family: Roboto, Arial;
        margin-top: 6px;
      }

      .seventh-text {
        display: grid;
        grid-template-columns: 40px 1fr;
      }

      .relative-7 {
        position: relative;
      }

      .absolute-7 {
        position: absolute;
        background-color: black;
        color: white;
        padding: 6px 5px 6px 5px;
        font-family: Roboto, Arial;
        font-weight: bold;
        right: 0;
        bottom: 8px;
        margin-right: 5px;
      }

      .channel-8 {
        width: 40px;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 10px;
      }

      .texts-8 {
        margin-left: 12px;
        margin-top: 0px;
      }

      .text-22 {
        font-weight: bold;
        font-family: Roboto, Arial;
        font-size: 15px;
        cursor: pointer;
        line-height: 20px;
      }

      .text-23 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        cursor: pointer;
        margin-bottom: 0px;
      }

      .text-24 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        margin-top: 6px;
      }

      .eigth-text {
        display: grid;
        grid-template-columns: 40px 1fr;
      }

      .relative-8 {
        position: relative;
      }

      .absolute-8 {
        position: absolute;
        background-color: black;
        color: white;
        padding: 6px 5px 6px 5px;
        font-family: Roboto, Arial;
        font-weight: bold;
        right: 0;
        bottom: 8px;
        margin-right: 5px;
      }

      .channel-9 {
        width: 40px;
        border-radius: 50px;
        margin-top: 10px;
        cursor: pointer;
      }

      .texts-9 {
        margin-left: 12px;
        margin-top: 0px;
      }

      .text-25 {
        font-weight: bold;
        font-family: Roboto, Arial;
        font-size: 15px;
        cursor: pointer;
        line-height: 20px;
      }

      .text-26 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        cursor: pointer;
        margin-bottom: 0px;
      }

      .text-27 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        margin-top: 6px;
      }

      .nineth-text {
        display: grid;
        grid-template-columns: 40px 1fr;
      }

      .relative-9 {
        position: relative;
      }

      .absolute-9 {
        position: absolute;
        background-color: black;
        color: white;
        padding: 6px 5px 6px 5px;
        font-family: Roboto, Arial;
        font-weight: bold;
        right: 0;
        bottom: 8px;
        margin-right: 5px;
      }

      .channel-10 {
        width: 40px;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 10px;
      }

      .texts-10 {
        margin-left: 12px;
        margin-top: 0px;
      }

      .text-28 {
        font-family: Roboto, Arial;
        font-weight: bold;
        line-height: 20px;
        font-size: 15px;
        cursor: pointer;
      }

      .text-29 {
        color: rgb(96 96 96);
        font-size: 13px;
        font-family: Roboto, Arial;
        margin-bottom: 0px;
        cursor: pointer;
      }

      .text-30 {
        color: rgb(96 96 96);
        font-size: 13px;
        font-family: Roboto, Arial;
        margin-top: 6px;
      }

      .tenth-text {
        display: grid;
        grid-template-columns: 40px 1fr;
      }

      .relative-10 {
        position: relative;
      }

      .absolute-10 {
        position: absolute;
        background-color: black;
        color: white;
        padding: 6px 5px 6px 5px;
        font-family: Roboto, Arial;
        font-weight: bold;
        right: 0;
        bottom: 8px;
        margin-right: 5px;
      }

      .channel-11 {
        width: 40px;
        border-radius: 50px;
        margin-top: 10px;
        cursor: pointer;
      }

      .texts-11 {
        margin-left: 12px;
        margin-top: 0px;
      }

      .text-31 {
        font-family: Roboto, Arial;
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
        cursor: pointer;
      }

      .text-32 {
        color: rgb(96 96 96);
        font-size: 13px;
        font-family: Roboto, Arial;
        margin-bottom: 0px;
        cursor: pointer;
      }

      .text-33 {
        color: rgb(96 96 96);
        font-size: 13px;
        font-family: Roboto, Arial;
        margin-top: 6px;
      }

      .eleventh-text {
        display: grid;
        grid-template-columns: 40px 1fr;
      }

      .relative-11 {
        position: relative;
      }

      .absolute-11 {
        position: absolute;
        background-color: black;
        color: white;
        padding: 6px 5px 6px 5px;
        font-family: Roboto, Arial;
        font-weight: bold;
        right: 0;
        bottom: 8px;
        margin-right: 5px;
      }

      .channel-12 {
        width: 40px;
        border-radius: 50px;
        margin-top: 10px;
        cursor: pointer;
      }

      .texts-12 {
        margin-left: 12px;
        margin-top: 0px;
      }

      .text-34 {
        font-family: Roboto, Arial;
        line-height: 20px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
      }

      .text-35 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        margin-bottom: 0px;
        cursor: pointer;
      }

      .text-36 {
        color: rgb(96 96 96);
        font-family: Roboto, Arial;
        font-size: 13px;
        margin-top: 6px;
      }

      .twelveth-text {
        display: grid;
        grid-template-columns: 40px 1fr;
      }

      .relative-12 {
        position: relative;
      }

      .absolute-12 {
        position: absolute;
        background-color: black;
        color: white;
        padding: 6px 5px 6px 5px;
        font-weight: bold;
        font-family: Roboto, Arial;
        right: 0;
        bottom: 8px;
        margin-right: 5px;
      }

      .header {
        display: flex;
        position: fixed;
        z-index: 1;
        background-color: white;
        right: 0;
        left: 0;
        height: 60px;
        justify-content: space-between;
        border-color: rgb(248, 242, 242);
        border-style: solid;
      }

      .middle-header {
        display: flex;
        align-items: center;
        max-width: 600px;
        flex: 1;
        margin-left: 50px;
        margin-right: 50px;
      }

      .search {
        height: 40px;
        width: 0px;
        flex: 1;
        border-color: rgb(233, 219, 221);
        border-style: solid;
        padding-left: 12px;
        font-size: 15px;
      }

      .search-logo {
       width: 26px; 
      }

      .search-voice {
       width: 28px;
       border-radius: 0px;
      }

      .button-1 {
        height: 40px;
        width: 70px;
        border-color: rgb(233, 219, 221);
        border-style: solid;
        margin: -1px;;
        background-color: rgb(250, 246, 246);
        position: relative;
        cursor: pointer;
      }

      .button-2 {
        height: 40px;
        margin-left: 8px;
        border-color: lightpink;
        border-style: solid;
        border-radius: 80px;
        border-color: rgb(248, 243, 244);
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
      }

      .left-header {
        display: flex;
        align-items: center;
        width: 280px;
        margin-right: 50px;
      }

      .ham-burger {
        margin-right: 25px;
        margin-left: 33px;
        cursor: pointer;
      }

      .right-side {
        display: flex;
        align-items: center;
        width: 200px;
        justify-content: space-between;
        padding-right: 25px;
        flex-shrink: 0;
      } 

      .ham-burger {
        height: 25px;
      }

      .youtube-logo {
        height: 25px;
        cursor: pointer;
      }

      .add {
        height: 25px;
        position: relative;
      }

      .apps {
        height: 25px;
      }

      .notifications {
        height: 25px;
      }

      .user {
        height: 40px;
        border-radius: 50px;
        cursor: pointer;
      }

      .side-bar {
        position: fixed;
        z-index: 200;
        background-color: white;
        width: 95px;
        bottom: 0;
        top: 63px;
        left: 0;
      }

      .sidebar-icons {
        height: 85px;
        margin-bottom: px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
      }

      .sidebar-icons img {
        width: 30px;
        display: flex;
        
      }

      .sidebar-icons:hover {
        background-color: rgb(247, 236, 236);
      }

      .side-text {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Roboto, Arial;
        font-weight: bold;
        margin-top: 5px;
      }

      .rel-notifications {
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }

      .abs-notifications {
        position: absolute;
        background-color: red;
        padding: 2px 6px 2px 6px;
        color: white;
        top: -2px;
        right: -6px;
        border-radius: 50px;
        font-size: 12px;
        font-family: Roboto, Arial;
        font-weight: bold;
      }

      .button-1 .absolute-search {
        position: absolute;
        background-color: rgb(184, 155, 155);
        padding: 8px 8px 8px 8px;
        font-weight: bold;
        font-family: Roboto, Arial;
        color: white;
        font-size: 15px;
        bottom: -40px;
        opacity: 0;
        pointer-events: none;
      }

      .button-1:hover .absolute-search {
        opacity: 1;
      }

      .button-2 .absolute-voice {
        position: absolute;
        white-space: nowrap;
        background-color: rgb(184, 155, 155);
        padding: 8px 8px 8px 8px;
        color: white;
        font-family: Roboto; Arial;
        font-weight: bold;
        font-size: 15px;
        bottom: -40px;
        opacity: 0;
        pointer-events: none;
      }

      .button-2:hover .absolute-voice {
        opacity: 1;
      }

      .add-relative {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        white-space: nowrap;
      }

      .add-relative .add-absolute {
        position: absolute;
        background-color: rgb(184, 155, 155);
        padding: 8px 8px 8px 8px;
        color: white;
        font-family: Roboto; Arial;
        font-weight: bold;
        font-size: 15px;
        bottom: -43px;
        opacity: 0;
        pointer-events: none;
      }

      .add-relative:hover .add-absolute {
        opacity: 1;
      }

      .rel-notifications .abss-notifications {
        position: absolute;
        background-color: rgb(184, 155, 155);
        padding: 8px 8px 8px 8px;
        color: white;
        font-family: Roboto; Arial;
        font-weight: bold;
        font-size: 15px;
        bottom: -43px;
        opacity: 0;
        pointer-events: none;
      }

      .rel-notifications:hover .abss-notifications {
        opacity: 1;
      }